.header{
	height:105px;
}
.form{
	width:700px;
	height:500px;
	border:1px solid red;
	margin:auto;
}
.form .form_title{
	font-size:46px;
	font-weight:bold;
	text-align:center;
	padding:4px 6px;
}
form table{
	margin:auto;
}