<div class="usercenter">
<div class="menu">
	<div class="menu-photo">
		<img src="./Public/Home/img/avatar.png" alt="用户头像" />
	</div>
	<dl><dt>我的交易</dt>
		<dd><a href="/cart/index.html">我的购物车</a></dd>
		<dd><a href="/order/index.html">我的订单</a></dd>
		<dd>评价管理</dd>
	</dl>
	<dl><dt>我的账户</dt>
		<dd><a href="/user/index.html">个人信息</a></dd>
		<dd>密码修改</dd>
		<dd><a href="/user/addr.html">收货地址</a></dd>
	</dl>
</div>
	<div class="content">
		<div class="title">我的购物车</div>
		<form method="post" action="/order/buy.html">
			<table class="shopcart">
				<tr><th width="60"><a href="#" class="checkAll">全选</a></th>
				<th>商品</th><th width="150">单价(元)</th><th width="95">数量</th><th width="120">操作</th></tr>
				<tr class="item">
					<td class="center"><input type="checkbox" name="buy[0][id]" class="check" value="1" /></td>
					<td><a href="/?a=goods&id=1" target="_blank" class="bold">PHP网站开发实例教程</a></td>
					<td class="center"><span class="item-price">45.00</span></td>
					<td class="center">
						<button class="setNum">-</button>
						<input name="buy[0][num]" class="item-num" type="text" value="1" />
						<button class="setNum">+</button>
					</td>
					<td class="center"><a href="/cart/del/id/6.html" />删除</a></td>
					</tr><tr class="item">
					<td class="center"><input type="checkbox" name="buy[1][id]" class="check" value="2" /></td>
					<td><a href="/?a=goods&id=2" target="_blank" class="bold">MySQL数据库入门</a></td>
					<td class="center"><span class="item-price">39.50</span></td>
					<td class="center">
						<button class="setNum">-</button>
						<input name="buy[1][num]" class="item-num" type="text" value="2" />
						<button class="setNum">+</button>
					</td>
					<td class="center"><a href="/cart/del/id/7.html" />删除</a></td>
					</tr><tr class="item">
					<td class="center"><input type="checkbox" name="buy[2][id]" class="check" value="3" /></td>
					<td><a href="/?a=goods&id=3" target="_blank" class="bold">HTML+CSS+JavaScript网页制作案例教程</a></td>
					<td class="center"><span class="item-price">49.80</span></td>
					<td class="center">
						<button class="setNum">-</button>
						<input name="buy[2][num]" class="item-num" type="text" value="1" />
						<button class="setNum">+</button>
					</td>
					<td class="center"><a href="/cart/del/id/8.html" />删除</a></td>
					</tr>				<tr class="act"><td class="center"><a href="#" class="checkAll">全选</a></td>
				<td colspan="4">
					共<span id="num"></span>件商品 总计：<span class="price">￥<span id="monery"></span></span>
					<input type="submit" value="提交订单" class="order-btn" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<script>
(function(){
	var $check = $(".check");  //获取复选框对象
	var isCheckAll = false;    //当前是否全选
	$check.click(total);	   //单击复选框时更新总价格
	checkAll();				   //默认设为全选
	//全选、全不选
	$(".checkAll").click(checkAll);
	function checkAll(){
		isCheckAll = isCheckAll ? false : true;
		$check.prop("checked", isCheckAll);
		$check.attr("checked", isCheckAll);
		total();  //更新价格
	}
	//单击修改数量
	$(".setNum").click(function(){
		var $item = $(this).parent().find(".item-num");
		var act = $(this).text();
		var num = parseInt($item.val());
		var stock = 100;
		if (act === '-') {
			if (num === 1) return false;
			$item.val(num-1);
		}else if (act === '+') {
			if (num === stock) return false;
			$item.val(num+1);
		}
		total();
		return false;
	});
	//键盘修改数量
	$(".item-num").keyup(function(){
		var num = parseInt($(this).val());
		var stock = 100;
		if(num < 1){
			$(this).val(1);
		}else if(num > stock){
			$(this).val(stock);
		}
		total();
	});
	//计算总价
	function total() {
		var count = 0; //总数量
		var total = 0; //总价格
		//遍历勾选的商品
		$(".check:checked").each(function(){
			var $item = $(this).parents(".item");
			var price = parseFloat($item.find(".item-price").text());
			var num = parseInt($item.find(".item-num").val());
			count += num;
			total += price * num;
		});
		$("#monery").text(total.toFixed(2));
		$("#num").text(count);
	}
})();
</script>