<div class="goodsinfo">
	<div>
		<foreach>
			<a href="{:U('Index/find',array('cid'=>$v['id']))}">{$v.name}</a>
			&nbsp;&gt;
		</foreach>&nbsp;{$goods.name}
	</div>
	<div class="pic left">
		<empty><img src="__PUBLIC__/Common/img/preview.jpg" alt=""><else /><img src="__PUBLIC__/Uploads/big/{$goods.thumb}" alt=""></empty>
	</div>
	<div class="info left">
		<h1>{$goods.name}</h1>
		<table>
			<tr>
				<th>售 价：</th>
				<td><span class="price">￥{$goods.price}</span></td>
			</tr>
			<tr>
				<th>发布时间：</th>
				<td>{$goods.publish_time}</td>
			</tr>
			<tr>
				<th>发布人：</th>
				<td>
					<empty name="v.seller_id">不合法<else />{$v.user_name}</empty>
				</td>
			</tr>
		</table>
	</div>
	<div class="clear"></div>
	<div class="goods-slide left">
		<div class="title">相关物品推荐</div>
		<foreach name="recommend" item="v">
			<ul>
				<li></li>
			</ul>
		</foreach>
	</div>
	<div class="desc left">
		<div class="title">物品详情</div>
		<div class="content">{$goods.desc}</div>
	</div>
	<div class="clear"></div>
</div>
<script>
//导航条选中效果
$("#Index_find").addClass("category-curr");
</script>