<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
	<script src="__PUBLIC__/Common/js/jquery-1.12.1.min.js"></script>
</head>
<body>
<div class="top">
	<div class="top-nav">
	<ul class="right">
		<present name="userinfo.id">
		<li>{$userinfo.name}，欢迎来到二手发布网！[<a href="{:U('User/logout')}">退出</a>]<li>
		<else/>
		<li>您好，欢迎来到二手发布网！[<a href="{:U('User/login')}">登录</a>][<a href="{:U('User/register')}">免费注册</a>]</li>
		</present>
		<li class="line">|</li><li><a href="{:U('User/index')}">会员中心</a></li>
	</ul>
	</div>
</div>
<div class="box">
	<div class="header">
		<a class="left" href="__APP__/"><div class="logo"></div></a>
		<form action="{:U('Common/find')}" method="GET" class="search left">
			<div>
				<input type="text" class="left" name="info" />
				<input class="search-btn" type="submit" value="搜索" />
			</div>
		</form>
		<div class="info left">
			<input type="button" value="会员中心" onclick="location.href='{:U('User/index')}'" />
		</div>
	</div>
	<div class="nav">
		<ul><li id="Index_find"><a class="category" href="{:U('Index/find')}">全部物品分类</a></li><li id="Index_index"><a href="__APP__/">首页</a></li>
		</ul>
	</div>
{__CONTENT__}
</div>
</body>
</html>