<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../../../Public/Common/css/cssreset.css" />
	<link rel="stylesheet" href="../../../../Public/Admin/css/header.css" />
	<link rel="stylesheet" href="../../../../Public/Admin/css/common.css">
</head>
<body>
	<div class="top">
		<div class="top_content">
			<div class="top_l fl">
				<img src="../../../../Public/Common/img/logo.jpg" alt="logo">
				<h2>湖北经济学院二手信息网&nbsp;<span>后台管理系统</span></h2>
			</div>
			<div class="top_r fr personState">
				<ul>
					<li>欢迎您：***</li>
					<li><a href="#">前台首页</a></li>
					<li><a href="#">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>