<div class="usercenter">
<include file="User/_menu" />
<div class="content">
	<div class="title">我的账户——<span>修改密码</span></div>
	<present name="success"><div class="mssage">修改成功。重新<a href="{:U('User/login')}">登录</a></div></present>
	<div class="list auto">
		<form method="post">
		<p>旧密码：<input name="oldPwd" type="password" required /></p>
		<p>新密码：<input id="newPwd_1" name="password" type="password" required /></p>
		<p>再次输入新密码：<input id="newPwd_2" type="password" required /></p>
		<div class="btn">
			<input type="submit" value="保存修改">
		</div>
		</form>
	</div>
</div>
</div>
<script>
//失去焦点时验证表单
$("#newPwd_2").blur(function(){
	if($(this).val() !== $("#newPwd_1").val()){
		$(this).addClass('pwderror');
	}else{
		$(this).removeClass('pwderror');
	}
});
//表单提交时验证表单
$("form").submit(function(){
	if($("#newPwd_2").val() !== $("#newPwd_1").val()){
		alert('两次输入密码不一致！');
		return false;
	}
});
</script>