<div class="usercenter">
<include file="User/_menu" />
<div class="content">
		<div class="title">个人资料</div>
		<present name="success"><div class="mssage">修改成功。</div></present>
		<div class="showinfo">
			<form method="post" enctype="multipart/form-data">
				当前头像：
				<p>
					<empty name="user.avatar">
						<img src="__PUBLIC__/Home/img/avatar.png" alt="用户头像">
					<else/>
						<img src="__PUBLIC__/Uploads/headimg/{$user.avatar}">
					</empty>
				</p>
				<p>上传头像：<input type="file" name="avatar" /></p>
				<p>用户名：<input type="text" name="username" disabled="disabled" value="{$user.username}" /></p>
				<p>电话号码：<input type="tel" name="phone" value="{$user.phone}" /></p>
				<p>email：<input type="email" name="email" value="{$user.email}" /></p>
				<p><input type="submit" value="保存信息" /></p>
			</form>
		</div>
</div>
</div>