<div class="usercenter">
<div class="menu">
	<div class="menu-photo">
		<img src="./Public/Home/img/avatar.png" alt="用户头像" />
	</div>
	<dl><dt>我的交易</dt>
		<dd><a href="/cart/index.html">我的购物车</a></dd>
		<dd><a href="/order/index.html">我的订单</a></dd>
		<dd>评价管理</dd>
	</dl>
	<dl><dt>我的账户</dt>
		<dd><a href="/user/index.html">个人信息</a></dd>
		<dd>密码修改</dd>
		<dd><a href="/user/addr.html">收货地址</a></dd>
	</dl>
</div>
	<div class="content">
		<div class="title">我的订单</div>
					<table class="order-top">
					<tr><th>订单号码：<span>ITCAST7</span>　下单时间：<span>2016-01-04 14:26:20</span></td>
					<td width="300" class="act">订单总价：<strong>￥44.50</strong>　<a href="#">立即支付</a>　<a href="#" data-id="7" class="cancel">取消订单</a></td></tr>
				</table>
				<table class="order">
					<tr><td><a href="/?a=goods&id=4" target="_blank">JavaWeb程序开发入门</a></td>
						<td class="center" width="100">1件</td><td class="center" width="100"><span>￥44.50</span></td></tr>
						<tr><td colspan="3">收件地址：北京市,市辖区,昌平区,建材城西路金燕龙办公楼一层，收件人：张三，联系电话：13812345678</td></tr>
				</table><table class="order-top">
					<tr><th>订单号码：<span>ITCAST6</span>　下单时间：<span>2016-01-04 14:26:09</span></td>
					<td width="300" class="act">订单总价：<strong>￥172.80</strong>　<a href="#">立即支付</a>　<a href="#" data-id="6" class="cancel">取消订单</a></td></tr>
				</table>
				<table class="order">
					<tr><td><a href="/?a=goods&id=1" target="_blank">PHP网站开发实例教程</a></td>
						<td class="center" width="100">1件</td><td class="center" width="100"><span>￥45.00</span></td></tr>
					<tr><td><a href="/?a=goods&id=2" target="_blank">MySQL数据库入门</a></td>
						<td class="center" width="100">2件</td><td class="center" width="100"><span>￥39.50</span></td></tr>
					<tr><td><a href="/?a=goods&id=3" target="_blank">HTML+CSS+JavaScript网页制作案例教程</a></td>
						<td class="center" width="100">1件</td><td class="center" width="100"><span>￥49.80</span></td></tr>
						<tr><td colspan="3">收件地址：北京市,市辖区,昌平区,建材城西路金燕龙办公楼一层，收件人：张三，联系电话：13812345678</td></tr>
				</table>	</div>
	<form method="post" id="form">
		<input type="hidden" id="target" name="id">
	</form>
</div>
<script>
$(".cancel").click(function(){
	if(confirm('您确定要取消订单？')){
		$("#target").val($(this).attr("data-id"));
		$("#form").attr("action","/order/cancel.html").submit();
	}
});
</script>