<div class="title">会员列表</div>
<div class="list full">
	<table>
		<tr><th>会员ID</th><th>会员昵称</th><th>联系电话</th><th>邮箱</th><th>操作</th></tr>
		<tr><td>5</td><td>测试</td><td>12312311111</td>
			<td>112@11.com</td><td><a href="#">查看详情</a></td></tr><tr><td>4</td><td>李四</td><td>13812345678</td>
			<td>123@test.com</td><td><a href="#">查看详情</a></td></tr><tr><td>3</td><td>测试用户</td><td>13812345678</td>
			<td>test@123.com</td><td><a href="#">查看详情</a></td></tr><tr><td>2</td><td>张三</td><td>18312345678</td>
			<td>test@123.com</td><td><a href="#">查看详情</a></td></tr><tr><td>1</td><td>test</td><td>13315428457</td>
			<td>12345678@qq.com</td><td><a href="#">查看详情</a></td></tr>	</table>
</div>
<div class="pagelist">{$page}</div>