<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录 - 校园二手交易信息网</title>
	<link rel="stylesheet" href="../../../../Public/Common/css/cssreset.css" />
	<link rel="stylesheet" href="../../../../Public/Admin/css/login.css">
	<script src="../../../../Public/Admin/js/jquery-1.12.1.min.js"></script>
</head>
<body>
	<div class="header">
		<iframe src="../tpl/header.html" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
	</div>
	<div class="form">
		<h1 class="form_title">欢迎访问后台</h1>
		<form action="" method="POST">
			<table>
				<tr>
					<th>用户名：</th><td><input type="text"></td>
				</tr>
					<th>密  码：</th><td><input type="password"></td>
				</tr>
				<tr>
					<th>验证码：</th><td><input type="text"></td><td><img src="{:U('Login/getVerify')}" title="点击刷新验证码"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="登录"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
<style>

</style>
